{% extends 'base.html' %}

{% block content %}

<div class="container" style="height: 40em;
            background-image: url('https://t1.daumcdn.net/cfile/blog/996E373A5E324B9311');
            background-repeat: repeat;
            font-family: 'Nanum Pen Script', cursive;
            text-align: center;">

<iframe width="8%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/478642968&amp;color=%23e08cb0"></iframe>
           


        <h1>개허접 <span style="color: #FA5882;">블로그</span> 홈에 오신 걸 환영합니다</h1>
</div>

{% endblock content %}