{% extends 'portfolio/base.html' %}

{% load static %}
{% block content %}
<main role="main">

<section class="jumbotron text-center">
<div class="container">
  <h1 class="jumbotron-heading">Portfolio</h1>
  <p class="lead text-muted">This is likelion django session portfolio app page.</p>
</div>
</section>

<div class="album py-5 bg-light">
<div class="container">

  <div class="row">
    
    {% for portfolio in portfolios.all %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        
        <img src="{{ portfolio.image.url }}" width="100%">
        <div class="card-body">
          <h3>{{portfolio.title}}</h3>
          <p class="card-text">{{portfolio.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

</main>

{% endblock %}