{% extends 'base.html' %}
{% block content %}


        <h3>{{ blog.title }}</h3>
        <p style="font-size:10pt">글쓴이: {% if blog.writer %} {{ blog.writer }} {% else %}익명{% endif %} {{ blog.pub_date |date:"Y.n.j H:i"}}</p>
        <hr><br>
        <p>{{ blog.body }}</p>
        <a class ="badge badge-secondary" href="{% url 'blog:edit' pk=blog.pk %}">수정하기</a>
        <a class = "badge badge-danger" href="{% url 'blog:delete' pk=blog.pk %}">삭제하기</a>
        <br>
        <a class="badge badge-light" href="{% url 'blog:home' %}">돌아가기</a>


{% endblock content %}