{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<a class="btn btn-outline-secondary" href="{% url 'blog:now' %}">글 쓰기</a>
{% endif %}
<br>
<br>
<table class="table table-hover">
  <thead class="table-danger">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">글쓴이</th>
      <th scope="col">작성일</th>
      <th scope="col">댓글</th>
    </tr>
  </thead>
{% for blog in posts %}

  <tbody>
  
    <tr>
      <th scope="row">{{blog.id}}</th>
      <td><a color="#2E2E2E" onMouseOver="this.style.color='#F7819F'" onMouseOut="this.style.color='#507AFF'" href="{% url 'blog:detail' blog.id %}">{{blog.title}}
    </a></td>
      <td>{% if blog.writer %} {{ blog.writer }} {% else %}익명{% endif %}</td>
      <td>{{blog.pub_date |date:"Y.n.j H:i"}}</td>
      <td>{{blog.comments.count}}</td>
    </tr>
   
        
{% endfor %}

  </tbody>
</table>
<br>
{% if posts.has_previous %}
    <a class="badge badge-pill badge-light" href="?page=1">First</a>
    <a class="badge badge-pill badge-light" href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{% if posts.has_next %}
    <a class="badge badge-pill badge-light" href="?page={{posts.next_page_number}}">Next</a>
    <a class="badge badge-pill badge-light" href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif%}

{% endblock content %}