{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<a class="btn btn-outline-secondary" href="{% url 'blog:now' %}">글 쓰기</a>
{% endif %}
<br>
{% for blog in posts %}
<br>
<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{ blog.title }}</h1>
        <p class="card-subtitle mb-2 text-muted">{{ blog.pub_date |date:"Y n j H:i"}}</p>
        <p class="card-text">{{ blog.summary }} 
        <a href="{% url 'blog:detail' blog.id %}" class="badge badge-light">... more</a></p>
    </div>
</div>
        
{% endfor %}

<br>
{% if posts.has_previous %}
    <a class="badge badge-pill badge-light" href="?page=1">First</a>
    <a class="badge badge-pill badge-light" href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{% if posts.has_next %}
    <a class="badge badge-pill badge-light" href="?page={{posts.next_page_number}}">Next</a>
    <a class="badge badge-pill badge-light" href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif%}

{% endblock content %}